<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kanyideveloper.onboardingscreens">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.OnBoardingScreens"
        tools:targetApi="m"
        tools:ignore="MissingClass">
        <activity
            android:name=".Crud.CrudActivity"
            android:screenOrientation="fullSensor"
            android:exported="false" />
        <activity
            android:name=".Crud.UpdateAddActivity"
            android:screenOrientation="fullSensor"
            android:exported="false" />
        <activity
            android:name=".Home.HomeActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".OTP.OTPActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>